* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#new_game {
    display: block;
    width: 100px;
    height: 30px;
    text-decoration: none;
    background-color: rgb(190, 190, 190);
    color: white;
    margin: 0 auto;
    font-family: Arial;
    line-height: 2;
    border-radius: 10px;
}

a:hover {
    font-weight: bold;
}

div {
    border-radius: 10px;
}

#grid_container {
    margin: 0 auto;
    background-color: rgb(190, 190, 190);
    width: 500px;
    height: 500px;
    position: relative;
}

.grid {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    font-size: 5em;
    line-height: 100px;
    color: white;
}

#result {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    filter: alpha(opacity=90);
    /*支持 IE 浏览器*/
    -moz-opacity: 0.90;
    /*支持 FireFox 浏览器*/
    opacity: 0.90;
    /*支持 Chrome, Opera, Safari 等浏览器*/
    background-color: #000;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-radius: 0px;
}